<mat-card class="list">
  <mat-card-header class="list__header">
    <mat-card-title>Lista de Produtos</mat-card-title>
    <button
      (click)="addProduct()"
      mat-mini-fab
      matTooltip="Primary"
      color="primary"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content class="list__content">
    <mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Código
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Nome
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.description }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Preço </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.price | currency : "BRL" }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="primary"
            (click)="updateProduct(element.id)"
          >
            Editar
          </button>
          <button
            class="action"
            mat-raised-button
            color="accent"
            (click)="deleteProduct(element.id)"
          >
            Excluir
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-card-content>
  <mat-card-footer class="list__footer">
    <mat-paginator
      [pageSizeOptions]="[5, 10, 50]"
      [pageSize]="10"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
